body {
    margin: 40px auto;
    width: 75%;
}
nav ul, footer ul {
    font-family: 'Lucida Console', 'Monaco', 'monospace';
    /* 'Helvetica', 'Arial', 'Sans-Serif'; */
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(72, 84, 245);
    /* font-weight: 800; */
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    /* text-decoration: underline; */
    /* 'Lucida Console', 'Monaco', 'monospace'; */
    margin-top: 0px;
    margin-bottom: 1px;
    font-weight: 500;
}
p {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
    font-weight: 400;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

/* ul.posts { 
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    list-style: none;
} */
/* 
ul {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 20px auto 40px; 
    font-size: 1.5em;
} */

.list-heading {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0px auto 20px; 
    font-size: 1em;
    font-weight: 500;
}

li {
    /* font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.8em;
    font-weight: 900; */
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
    font-weight: 400;
}

.language-cpp highlighter-rouge{
    background-color: aqua;
}

hr { 
    position: relative; 
    top: 1px; 
    border: none; 
    height: 1px; 
    background: rgb(239, 240, 241); 
    margin-bottom: 30px; 
} 

/* .list-item {
    font-weight: 900;
} */