body {
    margin: 40px auto;
    width: 60%;
    background-color: rgb(253, 253, 253);
}

nav ul,
footer ul {
    font-family: 'Lucida Console', 'Monaco', 'monospace';
    /* 'Helvetica', 'Arial', 'Sans-Serif'; */
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    /* color: rgb(10, 7, 207); */
    /* font-weight: 800; */
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(10, 7, 207);
    /* same as normal link color */
}

b {
    color: rgb(182, 0, 0);
}

h1 {
    font-size: 2em;
    font-family: cursive;
    /* text-decoration: underline; */
    /* 'Lucida Console', 'Monaco', 'monospace'; */
    margin-top: 0px;
    margin-bottom: 1px;
    font-weight: 500;
}

h2 {
    font-size: 1.40em;
    font-family: cursive;
    /* text-decoration: underline; */
    /* 'Lucida Console', 'Monaco', 'monospace'; */
    margin-top: 0px;
    margin-bottom: 1px;
    font-weight: 500;
    color: rgb(233, 7, 7);
    /* font-style: bold; */
}

h3 {
    font-size: 1.2em;
    font-family: cursive;
    /* text-decoration: underline; */
    /* 'Lucida Console', 'Monaco', 'monospace'; */
    margin-top: 0px;
    margin-bottom: 1px;
    font-weight: 500;
    /* font-style: bold; */
}

p {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* font-family: '-apple-system, BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: cursive; */
    /* font-style:unset; */
    font-size: 1.2em;
    line-height: 1.6em;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

/* ul.posts { 
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    list-style: none;
} */
/* 
ul {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 20px auto 40px; 
    font-size: 1.5em;
} */

.list-heading {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0px auto 20px;
    font-size: 1.5em;
    font-weight: 500;
}

li {
    /* font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.8em;
    font-weight: 900; */
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
    font-weight: 400;
}

.language-cpp highlighter-rouge {
    background-color: aqua;
}

hr {
    position: relative;
    top: 1px;
    border: none;
    height: 1px;
    background: rgb(226, 124, 7);
    margin-bottom: 30px;
}

/* .list-item {
    font-weight: 900;
} */

/* pre {
    font-size: medium;
} */

.highlight {
    background-color: rgb(217, 213, 224);
    font-size: large;
}

.code {
    font-size: large;
    background-color: antiquewhite;
}

/* span {
    content: "\2229";
} */