body {
    margin: 40px auto;
    width: 75%;
}
nav ul, footer ul {
    font-family: 'Lucida Console', 'Monaco', 'monospace';
    /* 'Helvetica', 'Arial', 'Sans-Serif'; */
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(4, 107, 21);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    /* text-decoration: underline; */
    /* 'Lucida Console', 'Monaco', 'monospace'; */
}
p {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

/* ul.posts { 
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    list-style: none;
} */
/* 
ul {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 20px auto 40px; 
    font-size: 1.5em;
} */

.list-heading {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

li {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.8em;
}

.language-cpp highlighter-rouge{
    background-color: aqua;
}

hr { 
    position: relative; 
    top: 0px; 
    border: none; 
    height: 12px; 
    background: black; 
    margin-bottom: 50px; 
} 